@model EmployeeDto
@inject IDepartmentService departmentService
@{
    var Departments = new SelectList(await departmentService.GetAllDepartmentsAsync() as IEnumerable<DepartmentToReturnDto>, nameof(DepartmentToReturnDto.Id), nameof(DepartmentToReturnDto.Name));
}
<form method="post" class="col-8" asp-controller="Employee" asp-action="@ViewBag.Action" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group mb-3">
            <label class="form-label" asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span> @*Code is required*@
        </div>
        <div class="form-group mb-3">
            <label class="form-label" asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span> @*Name is required*@
        </div>
        <div class="form-group mb-3">
            <label class="form-label" asp-for="Address">Address</label>
            <textarea class="form-control" asp-for="Address"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="form-label" asp-for="PhoneNumber">Phone Number</label>
            <input type="text" asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span> @*Phone Number is required*@
        </div>
        <div class="form-group mb-3">
            <label class="form-label" asp-for="Age">Age</label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span> @*Phone Number is required*@
        </div>
        <div class="form-group mb-3">
            <label class="form-label" asp-for="HiringDate">Hiring Date</label>
            <input type="date" asp-for="HiringDate" class="form-control" />
            <span asp-validation-for="HiringDate" class="text-danger"></span> @*Phone Number is required*@
        </div>
        <div class="form-group mb-3">
            <label class="form-label" asp-for="Salary">Salary</label>
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span> @*Phone Number is required*@
        </div>

        <div class="form-group mb-3">
            <label class="form-label" asp-for="Gender">Gender</label>
            <div>
                @foreach(Gender genderOption in Enum.GetValues(typeof(Gender)))
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Gender" value="@genderOption"/>
                        <label class="form-check-label">@genderOption</label>
                    </div>
                }
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mb-3">
            <select asp-for="EmployeeType" asp-items="Html.GetEnumSelectList<EmployeeType>()" class="form-select">
                <option value="">Select Employee Type</option>
            </select>
            <span asp-validation-for="EmployeeType" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" asp-for="DepartmentId"></label>
            <select asp-for="DepartmentId" asp-items="@Departments" class="form-select">
                <option value="@null">Select Department</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <div class="form-check">
                <input asp-for="IsActive" class="form-check-input" />
                <label class="form-check-label" asp-for="IsActive">Is Active</label>
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" asp-for="Image">Age</label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span> @*Phone Number is required*@
        </div>

        @if (ViewBag.Action == "Create")
        {
            <div class="mt-4 m-auto">
                <input class="btn btn-primary" type="submit" value="Create" />
                <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
            </div>
        }
        else
        {
            <div class="mt-4 m-auto">
                <input class="btn btn-success" type="submit" value="Edit" />
                <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
            </div>
        }
</form>